<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saleskit.cbbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".MvpStarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".features.personal.AddNewEnterpriseCustomerActivity"></activity>
        <activity android:name=".features.home.activity.AddEnterpriseCustomerActivity" />
        <activity android:name=".features.home.DepartMentLoginActivity" />
        <activity android:name=".features.home.BlxNewActivity" />
        <activity android:name=".features.home.LocationActivity" />
        <activity
            android:name=".features.home.ReportDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".features.home.ReportViewActivity"
            android:launchMode="singleTop" />
        <activity android:name=".features.home.NotiDetailActivity" />
        <activity android:name=".features.home.NotificationListActivity" />
        <activity android:name=".features.personal.UserLookupActivity" />
        <activity android:name=".features.home.BlxActivity" />
        <activity android:name=".features.appointment.FilterAppointActivity" />
        <activity android:name=".features.personal.InfoPersonActivity" />
        <activity android:name=".features.tun.TunActivity" />
        <activity android:name=".features.home.activity.ProductListActivity" />
        <activity android:name=".features.home.activity.MainProductDetailActivity" />
        <activity android:name=".features.personal.ReworkActivity" />
        <activity android:name=".features.appointment.OptionActivity" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.saleskit.cbbank"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

             <activity
            android:name=".features.appointment.AppointListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".features.detail.HDCustomerDetailActivity" />
        <activity android:name=".features.account.RegisterActivity" />
        <activity
            android:name=".features.home.activity.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.customer.add_new_customer.InformationCollateralActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.customer.add_new_customer.AddNewCustomerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".features.flowone.ProductDetailActivity" />
        <activity android:name=".features.detail.CustomerDetailActivity" />
        <activity android:name=".features.appointment.UpdateResultActivity" />
        <activity
            android:name=".features.appointment.AddApointmentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".features.detail.TransitionCodeActivity" />
        <activity android:name=".features.detail.MobilizeDetailActivity" />
        <activity
            android:name=".features.kpi.RoomKpiActivity"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".features.services.CarriageFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".features.customer.CustomerListActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.news.DetailNewActivity"
            android:overScrollMode="never" />
        <activity android:name=".features.news.NewActivity" />
        <activity android:name=".features.account.GetPassWordActivity" />
        <activity android:name=".features.account.ChangePasswordActivity" />
        <activity android:name=".features.personal.PersonalActivity" />
        <activity android:name=".features.customer.enterprise.AddNewEnterpriseCustomerActivity" />
        <activity android:name=".features.splash.SplashActivity" />
        <activity
            android:name=".features.account.LoginEnActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.home.activity.HomeActivity2"
            android:launchMode="singleTop" />
        <activity android:name=".features.home.HomeActivity1" />
        <activity android:name=".features.home.HomeActivity" />
        <activity android:name=".features.kpi.QuaterKpiActivity" />
        <activity
            android:name=".features.kpi.KpiActivity"
            android:launchMode="singleTop" />
        <activity android:name=".features.account.LoginActivity" />
        <activity
            android:name=".features.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that
             is used to sign the APK for publishing. You can define the keys for the debug and
             release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".features.detail.MapsSampleActivity"
            android:label="@string/title_activity_maps_sample" />
    </application>

</manifest>